<link rel="stylesheet" href="./custom-cursor.scss">
<script src="./CustomCursor.ts"></script>

<div class="custom-cursor" data-component="custom-cursor">
  <div class="cursor" data-cursor-container>
    {{> info-cursor id="video" text="OPEN VIDEO"}}
    {{> info-cursor id="scroll" text="SCROLL DOWN"}}
  </div>
</div>