<link rel="stylesheet" href="./info-cursor.scss">
<script src="./InfoCursor.ts"></script>

<div class="info-cursor" data-component="info-cursor" data-cursor="{{id}}">
  <p class="info-cursor-text global-button">{{ text }}</p>
</div>